body{
    background-image: url(fotos/3hu.gif);
    background-repeat: no-repeat; /*não repetir o gif */
    background-size: 100%; /*para o gif cobrir a pagina inteira*/
        font-family: "Gilda Display", serif; /* muda a fonte ( estou usando uma fonte externa ) */
        font-weight: 200;
        font-style: normal; 
}


.humanastitulo{
    color: rgb(0, 0, 0);
    max-width: 40%;
    margin: 3%;
    margin-left: 550px;
    text-align: center;
    padding: 15px;
    background-color: #fffffff7;
    border-radius: 20px;/*arredondar a borda*/
    max-width: auto;
    font-size: 35px;
}

.pritri {
    margin-left: 250px;
    font-size: 20px;
    padding: 15px;
    background-color: #ffffffbb;
    border-radius: 70px; /* arredondar a borda */
    max-width: 70%;
    text-align: center;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Para centralizar verticalmente também */
}




/*////////////////////////////////////////////////////////*/

.pritri {
    margin-left: 250px;
    font-size: 20px;
    padding: 15px;
    background-color: #ffffffbb;
    border-radius: 70px; /* arredondar a borda */
    max-width: 70%;
    text-align: center;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Para centralizar verticalmente também */
}

.segtri {
    margin-left: 250px;
    font-size: 20px;
    padding: 15px;
    background-color: #ffffffbb;
    border-radius: 70px; /* arredondar a borda */
    max-width: 70%;
    text-align: center;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Para centralizar verticalmente também */
}

.tertri {
    margin-left: 250px;
    font-size: 20px;
    padding: 15px;
    background-color: #ffffffbb;
    border-radius: 70px; /* arredondar a borda */
    max-width: 70%;
    text-align: center;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Para centralizar verticalmente também */
}